.landing__section {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 100%);

    &--bg {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: cover;
    }

    &--content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 500;
        flex-direction: column;
        z-index: 10;

        h1 {
            font-size: 3.5rem;

            @media (max-width: 650px) {
                font-size: 3rem;
            }
        }

        p {
            padding: 1rem;
            background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 251, 251, 0.85)), to(rgba(255, 255, 255, 0.85)));
            color: #000000;
            font-size: 1.6rem;

            @media (max-width: 650px) {
                width: 95%;
                padding: .5rem;
            }

        }

        &--btn {
            margin: 3rem;
            border-radius: 3px;
            color: #fff;
            display: block;
            text-decoration: none;
            height: 4rem;
            width: 15rem;
            text-align: center;
            padding: 1rem;
            font-size: 1.6rem;
            background-color: #ffffff66;
            transition: all .3s ease;

            &:hover {
                background-color: #8a5613;
                color: #fff;
                transform: scale(1.2);

            }
        }
    }

    &::after {
        content: "";
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;

        background: rgb(227, 227, 227);
        background: radial-gradient(circle, rgba(227, 227, 227, 0) 0%, rgba(42, 42, 42, 0.7895029105392157) 53%, rgba(29, 29, 3, 1) 100%, rgba(13, 1, 1, 1) 100%);


    }
}