<!-- eslint-disable -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="img/logo/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
    <title><%=title%></title>
  </head>
  <header class="header">
    <div class="header__logo">
      <img src="img/logo/logo.png" alt="Primary Nexter Logo" />
    </div>

    <div class="header__links">
      <ul>
        <li class="header__links--item">
          <a href="#">Tours</a>
        </li>

        <li class="header__links--item">
          <a href="#">Features</a>
        </li>

        <li class="header__links--item">
          <a href="#">Contact us</a>
        </li>

        <li class="header__links--item">
          <a href="#">About us</a>
        </li>
      </ul>
    </div>
    <div class="header__account__info">
      <a href="#" class="header__account__info--link">
        <svg class="header__account__info--link--icon">
          <use xlink:href="img/sprite.svg#icon-add-user"></use>
        </svg>
        Signup
      </a>
      <a href="#" class="header__account__info--link">
        <svg class="header__account__info--link--icon">
          <use xlink:href="img/sprite.svg#icon-lock-open"></use>
        </svg>
        Login
      </a>
    </div>
  </header>
</html>
